* {
  font-family: "Advent Pro", sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: var(--hfont);
  font-size: 3rem;
}
h2 {
  font-family: var(--hfont);
  font-size: 2.4rem;
}
h3 {
  font-family: var(--hfont);
  font-size: 1.8rem;
}
h4 {
  font-family: var(--hfont);
  font-size: 1.2rem;
}

:root {
  --hfont: "Gruppo", cursive;
  --mfont: "Advent Pro";
  --logogreen: rgb(26, 159, 132);
  --logoorange: rgb(200, 113, 55);
}

.curved {
  border-radius: 0.3rem;
}
.curved-top {
  border-radius: 0.3rem 0.3rem 0 0;
}
.curved-left {
  border-radius: 0.3rem, 0 0 0.3rem;
}
.curved-right {
  border-radius: 0 0.3rem 0.3rem 0;
}
.curved-bottom {
  border-radius: 0 0 0.3rem 0.3rem;
}

.grid-container {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: minmax(20rem, 1fr);
  column-gap: 1rem;
}

.top-bar {
  display: flex;
  background: beige;
  padding: 0.4rem;
  justify-content: space-around;
}

.address .fa,
.address h4 {
  color: var(--logogreen);
}

.address h4 {
  font-size: 0.9rem;
}

.social-links .fa {
  padding: 0 0.6rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.7s ease-out;
}

.social-links .fa:hover {
  color: var(--logoorange);
  font-size: 0.9rem;
}

.site-id {
  display: grid;
  grid-template-columns: minmax(20rem, 1fr);
  padding: 1rem;
  margin: 3.6rem auto;
}

.site-id img {
  justify-self: center;
  cursor: pointer;
  transition: all 0.7s ease-out;
}

.site-id img:hover {
  transform: scale(1.02);
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--logoorange);
  height: 2.4rem;
  line-height: 1.5em;
  position: relative;
}

.menu {
  margin: 0 1vw 0 0;
  position: absolute;
  top: 0.5rem;
}

.menu .link {
  padding: 0.3rem 3vw;
  margin: 0 0.5rem;
  font-size: 0.9rem;
  text-decoration: none;
  color: beige;
  text-transform: uppercase;
  transition: all 700ms ease-out;
}

.menu .button {
  border: 0.05rem solid beige;
  transition: all 700ms ease-out;
}

.menu .link:hover {
  border: 0.05rem solid beige;
  border-radius: 0.3rem;
  color: khaki;
}

.menu .button:hover {
  background: var(--logogreen);
  color: khaki;
  border: none;
}

.menu .link:active {
  border: 0.05rem solid beige;
  border-radius: 0.3rem;
  color: khaki;
}
.menu .link:focus {
  font-weight: 900;
  border-bottom: 0.2rem solid beige;
}

label {  
  position: absolute;
  left: 5.5rem;
  font-size: 1.5rem;
  display: none;
}

#toggle {
  display: none;
}

.hero {
  box-sizing: border-box;
  overflow: hidden;
  display: grid;
  grid-template-columns: minmax(20rem, 1fr);
  justify-items: center;
  align-items: center;
  padding: 10rem 5rem;
  animation: imgchange 60s infinite;
  margin: 1rem 0;
  height: 30rem;
  transition: all 1s ease-out;
  color: beige;
  background-position: bottom;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
}

.hero h1 {
  color: beige;
  text-align: center;
}

@keyframes imgchange {
  0% {
    background: linear-gradient(
        rgba(200, 113, 55, 0.8),
        rgba(26, 159, 132, 0.6)
      ),
      url("https://cdn.pixabay.com/photo/2016/05/05/19/26/site-1374593__340.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  25% {
    background: linear-gradient(
        rgba(200, 113, 55, 0.8),
        rgba(26, 159, 132, 0.6)
      ),
      url("https://cdn.pixabay.com/photo/2019/07/14/10/47/site-4336786__340.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  50% {
    background: linear-gradient(
        rgba(200, 113, 55, 0.8),
        rgba(26, 159, 132, 0.6)
      ),
      url("https://cdn.pixabay.com/photo/2017/06/18/17/27/crane-2416510__340.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  75% {
    background: linear-gradient(
        rgba(200, 113, 55, 0.8),
        rgba(26, 159, 132, 0.6)
      ),
      url("https://cdn.pixabay.com/photo/2019/07/19/19/08/building-4349452__340.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }

  100% {
    background: linear-gradient(
        rgba(200, 113, 55, 0.8),
        rgba(26, 159, 132, 0.6)
      ),
      url("https://cdn.pixabay.com/photo/2016/05/05/19/26/site-1374593__340.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.slogans {
  display: flex;
  justify-content: space-around;
  width: 80%;
}
.slogans p {
  padding: 1rem 5vw;
  font-size: 1.5rem;
}

h2 {
  text-align: center;
  padding: 1rem;
  color: var(--logogreen);
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  column-gap: 2rem;
  margin-bottom: 2rem;
  padding: 2rem 0;
  overflow: hidden;
}

.projects h3 {
  padding-left: 1rem;
  color: var(--logoorange);
}

.current {
  border: 1px solid var(--logogreen);
  background: rgba(26, 159, 132, 0.1);
}

.recent {
  border: 1px solid var(--logoorange);
  background: rgba(200, 113, 55, 0.1);
}

.card {
  width: 100%;
  overflow: hidden;
}

.card img {
  clip-path: polygon(
    50% 0%,
    100% 40%,
    85% 40%,
    85% 100%,
    15% 100%,
    15% 40%,
    0 40%
  );
  margin-top: 0.5em;
  padding: 0 2em;
  min-height: 18rem;
  width: 90%;
  border-bottom: 1rem solid var(--logoorange);
  position: relative;
  right: 0.8em;
  overflow: hidden;
}

.card p {
  text-align: justify;
  padding: 1rem;
}

/* Footer Section */

footer {
  width: 100%;
  box-sizing: border-box;
}

.footer-top {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 20% 1fr 1fr;
  justify-items: center;
  padding: 3rem 2rem;
  color: beige;
  line-height: 1.5rem;
  background: linear-gradient(rgba(26, 159, 132, 0.95), rgba(26, 159, 132, 0.9)),
    url("https://cdn.pixabay.com/photo/2017/05/19/09/52/panoramic-view-2326004__340.jpg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.7s ease-in-out;
}

.footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.footer-icon img {
  text-align: center;
  border-radius: 50%;
  background: beige;
  padding: 0.3em;
  transition: all 0.7s ease-out;
}

.footer-icon img:hover {
  background: khaki;
  border: 1px solid var(--logoorange);
  padding: 0.2em;
}

.footer-top h4,
p,
a,
.fa {
  font-size: 0.9rem;
}

.footer-top .fa {
  padding-right: 1rem;
}

.footer-top a,
.fa {
  color: khaki;
  text-decoration: none;
  transition: all 0.7s ease-out;
}

.footer-top a:hover,
.footer-top .fa:hover {
  color: var(--logoorange);
  font-size: 0.95rem;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
  background: rgb(43, 59, 47);
}

.footer-bottom p,
.footer-bottom a {
  font-size: 0.9em;
  color: var(--logoorange);
  text-decoration: none;
  transition: all 0.7s ease-in-out;
}

.footer-bottom a:hover {
  color: gold;
  text-decoration: underline;
}

/* About Page */

#page-head {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36em;
  margin: 4em 0;
  background: linear-gradient(rgba(26, 159, 132, 0.6), rgba(200, 113, 55, 0.8)),
    url("https://cdn.pixabay.com/photo/2018/08/22/12/19/bridge-3623505__340.jpg");
  background-size: cover;
  background-position: 50% 0;
  clip-path: polygon(
    50% 0%,
    100% 50%,
    85% 50%,
    85% 100%,
    15% 100%,
    15% 50%,
    0 50%
  );
  border-bottom: 0.4em solid var(--logoorange);
}

#page-head h1 {
  font-family: var(--hfont);
  font-size: 4em;
  font-weight: 900;
  color: khaki;
  z-index: 10;
}

#section-title h2 {
  font-family: var(--hfont);
}

.define {
  width: 72%;
  overflow: hidden;
  padding: 2em;
  border-radius: 0.3em;
  text-align: justify;
}

.define p {
  font-family: var(--mfont);
}

.history h3,
.mission h3,
.goals h3 {
  color: var(--logoorange);
  font-family: var(--hfont);
  text-align: left;
  padding-bottom: 0.8em;
}

.history,
.mission {
  padding-bottom: 3em;
}

.history {
  margin-right: auto;
  background: rgb(243, 239, 228);
  border: 0.05em solid var(--logoorange);
  margin-left: 3em;
}

.mission {
  margin: auto;
  border: 0.05em solid var(--logogreen);
  background: rgb(220, 231, 218);
  margin-top: -1em;
}

.goals {
  margin-left: auto;
  background: rgb(243, 239, 228);
  border: 0.05em solid var(--logoorange);
  margin-right: 3em;
  margin-top: -1em;
}

.ticks-area {
  box-sizing: border-box;
  display: grid;
  column-gap: 4vw;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  padding: 2rem 0;
}

.ticks-area h3 {
  color: var(--logoorange);
  margin-bottom: 0.5em;
  font-family: var(--hfont);
  text-align: left;
}

.ticks-area p {
  font-family: var(--mfont);
  text-align: justify;
}

.tick-box {
  height: fit-content;
  box-sizing: border-box;
  display: flex;
  background: beige;
  border: 0.2em solid var(--logogreen);
  border-left: none;
  border-radius: 0.3em;
}

.tick {
  margin: -0.2em 0;
  box-sizing: border-box;
  background: var(--logogreen);
  padding: 0 0.5em;
  display: flex;
  align-items: center;
  clip-path: polygon(75% 0, 100% 49%, 75% 100%, 0 100%, 0 0);
  /* margin-top: -0.05em; */
  border-radius: 0.3em 0 0 0.3em;
}

.fa-check {
  color: beige;
  font-size: 3em;
}

.details {
  background: beige;
  padding: 1em;
}

/* Contact page */

.contact-banner {
  display: grid;
  grid-template-columns: minmax(20rem, 1fr);  
  background: url("https://cdn.pixabay.com/photo/2015/08/28/08/51/board-911636__340.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 18rem;
  margin: 2rem 0;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
  overflow: hidden;
}

.overlay {
  background: var(--logogreen);
  opacity: 0.9;
  height: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.overlay h1 {
  color: rgb(243,225,176);
  text-align: center;
  padding: 2rem;
}

#addresses {
  background: linear-gradient(rgba(26, 159, 132, 0.9), rgba(26, 159, 119, 0.9)),
    url("https://cdn.pixabay.com/photo/2019/10/07/10/39/office-4532318__340.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  transition: all 2s ease-in-out;
  padding-top: 2em;
  margin: 2em 0;
  border-radius: 0.3em;
  overflow: hidden;
}

#addresses h1 {
  color: rgb(243, 225, 176);
}

#icon-columns {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#icons {
  display: grid;
  column-gap: 0.05rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  overflow: hidden;
}

.icon-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  padding: 0.5em;
  background: transparent;
  border: 2px solid rgb(243, 225, 176);
  font-size: 1em;
}

#icons .fa {
  font-size: 3em;
  color: rgb(243, 225, 176);
}

#icons h3,
#icons h4,
#icons p {
  color: rgb(235, 238, 83);
}

#icons h4,
#icons p {
  font-family: var(--mfont);
  letter-spacing: 0.06em;
}

#addresses h1,
#addresses h3 {
  font-family: var(--hfont);
  padding: 0.5em 0;
  color: rgb(243, 225, 176);
  text-align: center;
}

.cols {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.3em;
  padding: 1em;
  flex: 1;
  margin: 0 2em;
  justify-content: flex-start;
}

#form-area {
  height: auto;
  border-radius: 0.3em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  border: 0.05em solid var(--logogreen);
  overflow: hidden;
}

#form-area h2 {
  font-family: var(--hfont);
}

.form-left h2 {
  color: rgb(243, 225, 176);
}

.form-right h2 {
  color: var(--logogreen);
  text-align: center;
}

.column p {
  font-family: var(--mfont);
  padding: 0 3em;
}

.column a {
  color: var(--logogreen);
  text-transform: uppercase;
  font-weight: 500;
  transition: all 0.7s ease-in-out;
}

.column a:hover {
  color: var(--logoorange);
  text-decoration: underline;
}

.column {
  box-sizing: border-box;
  text-align: justify;
  border-radius: 0.3em;
}

.form-left {
  background: linear-gradient(rgba(26, 159, 132, 0.8), rgba(26, 159, 132, 0.8)),
    url("https://cdn.pixabay.com/photo/2014/11/24/16/22/secretary-544180__340.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2em 3em;
  border-radius: 0.3em 0 0 0.3em;
  transition: all 1s ease-in-out;
}

.form-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(
      rgba(231, 241, 237, 0.9),
      rgba(231, 241, 237, 0.9)
    ),
    url("https://cdn.pixabay.com/photo/2016/10/06/03/30/man-1718099__340.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 0 0.3em 0.3em 0;
  transition: all 0.7s ease-in-out;
  padding: 2em 3em;
}

.form-control {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 0.1em solid rgb(243, 225, 176);
  font-size: 0.9em;
  margin: 0 auto 0.5em auto;
  font-family: var(--mfont);
}

input {
  height: 2.4em;
  color: rgb(243, 225, 176);
}

textarea {
  color: rgb(243, 225, 176);
}

::placeholder {
  color: rgba(243, 225, 176, 0.6);
}

form .submit {
  background: var(--logoorange);
  border-color: transparent;
  border-bottom: none;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 0.1em;
  height: 2em;
  margin-top: 1em;
  transition: all 0.7s ease-in-out;
  border-radius: 0.3em;
  font-family: var(--hfont);
  color: rgb(243, 225, 176);
}

form .submit:hover {
  background: rgba(200, 113, 55, 0.75);
  color: beige;
  cursor: pointer;
}

#location h2 {
  color: var(--logogreen);
  font-family: var(--hfont);
  padding-bottom: 1em;
}

#location {
  height: auto;
  border: 0.05em solid var(--logogreen);
  margin: 3em 0;
  padding: 1.5em;
  overflow: hidden;
  border-radius: 0.3em;
  overflow: hidden;
  box-sizing: border-box;
}

/* Media Query */

/* Medium Screens */

@media (max-width: 1252px) {
.projects {
  display: flex;
  flex-wrap: wrap;
}

.card img {
  position: relative;
  right: 0;
}

  #page-head {
    height: 60vh;
  }
  
  .define {
    box-sizing: border-box;
    width: 100%;
    margin: 2rem auto;
    overflow: hidden;
  }

  .history h3,
  .mission h3,
  .goals h3 {
    color: var(--logoorange);
    font-family: var(--hfont);
    text-align: left;
    padding-bottom: 0.8em;
  }

  .history,
  .goals {
    background: rgb(243, 239, 228);
    border: 0.05em solid var(--logoorange);
  }

  .mission {
    border: 0.05em solid var(--logogreen);
    background: rgb(220, 231, 218);
  }

  .footer-top {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }

  .not-icon h3 {
    text-align: center;
  }

  #form-area {
    height: auto;
    border-radius: 0.3em;
    display: grid;
    grid-template-columns: 1fr;
    border: 0.05em solid var(--logogreen);
  }

  #icons {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
  }

  .ticks-area {
    box-sizing: border-box;
    display: grid;
    row-gap: 2rem;
    grid-template-columns: 1fr;
    padding: 2rem 0;
  }
}

/* Smaller Screens */

@media (max-width: 720px) {
  .grid-container {
    width: 100%;
    margin: 0;
    padding: 0;
    column-gap: 0;
  }

  #page-head {
    min-height: 40vh;
  }

  h2, h3{
    padding-left: 2rem;
  }

  p {
    padding: 2rem;
  }

  label {
    display: block;
    cursor: pointer;
  }

  .nav-bar {
    display: block;
    border-radius: 0;
    z-index: 50;
  }

  .menu {
    display: none;
  }

  .menu .link {
    display: block;
    text-align: center;
    line-height: 0.9rem;
    transition: all 1s ease-out;
  }

  #toggle:checked + .menu {
    display: flex;
    flex-direction: column;
    background: var(--logoorange);
    width: 12rem;
    position: absolute;
    top: 2.5rem;
  }

  .menu .link {
    border-bottom: 0.1em solid rgba(245, 245, 220, 0.6);
    padding: 1.2em 0;
  }

  .menu .button {
    border: none;
  }

  .top-bar {
    display: none;
    height: 0;
  }

  .menu {
    margin: 0;
  }

  .site-id,
  .nav-bar,
  footer {
    margin: 0;
    padding: 0;
  }

  .site-id {
    width: 100%;
    margin: 0;
    text-align: center;
  }

  .site-id img {
    padding: 1rem 2%;
    transition: all 0.7s ease-in-out;
    max-width: 80%;
  }
  .nav-bar, hero {
    border-radius: 0;
  }

  .hero {
    padding-top: 3rem;
    max-height: 50vh;
    margin-top: 0.1rem;
    border-radius: 0;
  }

  .hero h1 {
    font-size: 1.8rem;
    padding: 0 1.5rem;
  }
 
  .card img {
  position: relative;
  right: 0;
  min-width: 15rem;
  }

  .slogans {
    flex-direction: column;
    align-items: center;
    font-size: 0.9rem;
    margin-top: 1rem;
  }

  .slogans p {
    font-size: 1.2rem;
  }

  .projects {
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
  }

  .define h3 {
color: rgb(243, 239, 228);
  }

  .history,
  .goals {
    background: var(--logoorange);
    color: rgb(243, 239, 228);
    border: none;
    margin: 0;
    border-radius: 0;
  }

  .mission {
    border: none;
    background: var(--logogreen);
    color: rgb(243, 239, 228);
    border-radius: 0;
    margin: 0;
  }

  .ticks-area {
    width: 100%;
    background: rgb(43,59,47);
    margin: 0;
    padding: 2rem;
  }

  .tick-box {
    margin: auto;
    padding: 0;
  }

  #form-area {
    border-radius: 0;
  }

  footer {
    border-radius: 0;
  }

  .footer-top {
    display: grid;
    grid-template-columns: minmax(20rem, 1fr);
    row-gap: 2rem;
    align-self: left;
    border-radius: 0;
  }

#addresses,
#form-area,
#location,
.column {
  border: none;
  width: 100%;
  margin: 0;
}

  .contact-banner {
    border-radius: 0;
  }

  .not-icon h3 {
    text-align: center;
  }
}

